:host { 
  display: block; 
  max-width: 100%; 
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.no-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
